<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable invertedequal height stackable grid">
        <div id="footer-links" class="four wide column center">
          <div class="ui inverted link list">
              <a target="_blank" href="https://www.linkedin.com/in/colt-callaghan-3b4057115/"><i class="svg-icon linkedin"></i></a>
              <a target="_blank" href="https://github.com/coltcallaghan"><i class="svg-icon github"></i></a>
              <a href="mailto:callaghancolt@gmail.com"><i class="svg-icon email"></i></a>
          </div>
        </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>
</html>