<%- include("partials/header") %>

<div class="ui vertical stripe segment ">
    <div class="ui middle aligned stackable grid container ">
      <div class="row portitem">
        <div class="eight wide column">
          <h3 class="ui header">Joining the Royal Marines!</h3>
          <p>
            In 2015 I joined the Royal Marines and completed 32 weeks of some of
            the world's most arduous infantry training. After my initial 2 years in a fighting company
            at 45Cdo I specialised as a mortarman. This is where I began to notice that change had to 
            happen if we would be able to keep with other peer nations.</p>
            <div class="row">
              <div class="column">
                  <hr class="hr">
              </div>
          </div>
          <h3 class="ui header">Adopting a change mindset</h3>
          <p>
            I began realising we needed change around the same time that others in the Royal Marines were too, and
            with the announcement of the Future Commando Force (FCF) I started to interact with stakeholders all around
            the Royal Marines. Initially I looked into areas that were already being looked at, like how the sections, troops
            and companies would be reorbated to enable smaller more versatile teams. But as these ideas became further 
            developed, I began to realise that the technology needed to enable these teams wasn't up to par with what was needed.
          </p>
        </div>
        <div class="right floated six wide column">
          <img class="ui large bordered rounded image" src="https://www.forces.net/sites/default/files/styles/cover_image/public/access%20future%20commando%20thumbnail%20for%20website.jpg?itok=S-6eQawR" />
        </div>
      </div>
      
      <div class="row">
        <div class="column">
            <hr class="hr">
        </div>
    </div>

      <div class="row portitem">
        <div class="left floated six wide column">
            <img class="ui large bordered rounded image" src="https://i.vimeocdn.com/video/1043627851_1280x720.jpg" />
          </div>
        <div class=" right floated eight wide column">
          <h3 class="ui header">JHub Coding Scheme</h3>
          <p>
            While deployed to Germany for live firing I heard of the JHub Coding Scheme from a friend, and it
            instantly piqued my interest. Get paid by MOD to learn how to code? Yes please... In a matter of months, I had
            got through most of the content available and had begun to investigate ways in which day to day tasks could be automated
            within the Royal Marines. I, amongst others who showed that they had significant  enough skills became markers of the 
            scheme also. The two modules I became an assessor for were Web Development and Python. 
            <h4 style="font-size: 1.3rem;">The modules I have completed are:</h4>
            <ul style="font-size: 1.3rem;">
                <li>Web Development (HTML, CSS, js)</li>
                <li>Python</li>
                <li>Machine Learning and Artificial Intelligence</li>
                <li>Natural Language Processing</li>
                <li>Agile project management</li>
                <li>User Experience</li>
            </ul>
        </p>
        <div class="row">
          <div class="column">
              <hr class="hr">
          </div>
      </div>
          <h3 class="ui header">Percy Hobart Fellowship</h3>
          <p>
            I used the skills I had developed from the coding scheme and my own self learning to apply to the inaugural
            Percy Hobart Fellowship. This was a first of its kind. Taking personnel from the Royal Navy and planting them
            into the world of start-ups to help us understand iterative processes and techniques very different to that 
            which is often seen in the military. From Monday to Wednesday for 12 weeks we worked with our start-up companies.
            Each fellow had very different experiences with very different companies. I helped develop a website 
            which allowed users to upload images and blogs of how their local areas had made COVID safe spaces, as well as
            conducting competitor analysis and setting prices of different services on offer. Other fellows worked on a wide range 
            of tasks, from securing the next round of funding for their start-ups, to project management and mentoring.
          </p>
          <p>At the end of the fellowship, we each had to give a pitch of our own innovative ideas to a panel of CEO's,
            the First Sea Lord, Retired Generals and many other high ranking officers. My idea was to create a Royal Marines bespoke
            application on which we could call in mortar and artillery fire more efficiently and more accurately. From this pitch
            I was awarded top student on the course and have been awarded a trip to California to undertake the Singularity University's
            Executive program.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="column">
            <hr class="hr">
        </div>
    </div>
      
      <div class="row portitem">
        <div class="eight wide column">
          <h3 class="ui header">Navy Digital Services</h3>
          <p>
            After the PHF I was seconded into NDS to facilitate the development of my mortaring application. This plan was soon
            put on the back burner to concentrate on more pressing matter, the digital backbone on which all the applications
            that we wanted to develop would be hosted. This is what I have spent the last 8 months looking into. I have travelled
            around different RM units to conduct user experience enabling us to produce a concept of what this digital backbone 
            would be capable of. Throughout my time at NDS I have briefed senior officers up to and including the First and Second 
            Sea Lords as well as developed my management as a product owner in the Littoral Strike Data Team.
            </p>

            <div class="row">
              <div class="column">
                  <hr class="hr">
              </div>
          </div>
            
          <h3 class="ui header">Going forward into the future</h3>
          <p>
            As a look forward, I have recently applied to study a BSc in Computing and IT (Software) at the Open University. Here I will
            be able to put what I have learnt so far to the test and continue to develop myself as an engineer. I am also going through 
            a specialisation change to a more technical role within the Royal Marines which I hope will suit me better, allowing me to 
            be challenged more often. 
          </p>
        </div>
        <div class="right floated six wide column">
          <img class="ui large bordered rounded image" src="https://i.vimeocdn.com/video/850330107_1280x720.jpg" />
        </div>
      </div>
    </div>
  </div>


<%- include("partials/footer") %>