<%- include("partials/header") %>

 

  <div class="ui inverted vertical masthead center aligned segment">
    <h1 class="ui inverted header">Colt Callaghan</h1>
    <h2>Bringing the Future Commando Force into the present!</h2>
    <a class="ui huge light button" href="/about">About me!<i class="right arrow icon"></i></a>
  </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Developing myself as a developer!</h3>
          <p>
            After injuring myself conducting training in the Scottish Highlands I missed out 
            on my unit's deployment to Norway in early 2020. I used my spare capacity to begin the JHub 
            Coding Scheme modules. From then on my, desire to learn and continually upskill myself has been
            rekindled and I have recently applied to complete a BSc in Computing and IT (Software) at the Open University.
          </p>

          <div class="row">
            <div class="column">
                <hr class="hr">
            </div>
        </div>

          <h3 class="ui header">Percy Hobart Fellowship</h3>
          <p>
            The Percy Hobart Fellowship is a bespoke, 12-week course to give immersive,
            hands-on experience in innovation to personnel in the Royal Navy. During Summer 2020
            I was fortunate enough to be selected to be part of the inaugural course where I worked
            with <a href="https://www.thefuturefox.com/">TheFutureFox</a>, a London based start-up. 
            Here I took on a variety of different tasks, from web development to competitor analysis.


          </p>
        </div>
        <div class="six wide right floated column">
          <img class="ui large bordered rounded image" src="https://i.vimeocdn.com/video/1043627851_1280x720.jpg" />
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"A true digital leader of the
            future"</h3>
          <p>
            <b>General (Ret.)</b> Sir Chris Deverell
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui vertical stripe segment">
    <h3 class="ui horizontal header divider">
      <span> Articles and Podcasts</span>
    </h3>
    <div class="ui text container">
      <h3 class="ui header">Digital Transformation in the Royal Marines</h3>
      <p>
        Towards the end of the Percy Hobart Fellowship (Summer 2020) Major Tom Patrick and I produced
        an article together for the Royal Marines unofficial think tank, Puzzle Palace.
      </p>
      <a class="ui large primary button" href="https://www.puzzle-palace.com/your-thoughts/digital-transformation-in-the-royal-marines-per-mare-per-terram-per-innovatio">Read More!</a>
      
      <div class="row">
        <div class="column">
            <hr class="hr">
        </div>
    </div>
    
      <h3 class="ui header">Innovation and Defence’s Language of Change</h3>
      <p>
        In April 2021 I was invited onto the Wavell Room's podcast to discuss innovation within Defence and the 
        language that surrounds it.
      </p>
      
      <a class="ui large primary button" href="https://open.spotify.com/episode/26OwnyFb1eRzg2z0U0r2RP">Listen in!</a>
      
    </div>
  </div>

  <%- include("partials/footer") %>