<%- include("partials/header") %>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">

            <div class="row portitem">
                <div class="eight wide column">
                    <h3 class="ui header">Mortar Fire Application</h3>
                    <p>
                        Throughout the PHF I developed my idea for digitising mortar fire using wireframing tools in an attempt to make it look 
                        like a finished product before I had really even looked into what it would entail. I have finally got around to designing an MVP for it, 
                        all be it without the correct ballistics. Looking forward I am going to look at using the OS Maps API to allow users to drop a pin where they 
                        are, and where they would like to fire.
                    </p>
                    <a target="_blank" href="https://github.com/coltcallaghan/MFA"><i
                            class="svg-icon github portgit"></i></a>

                </div>
                <div class="right floated six wide column">
                    <img class="ui large bordered rounded image"
                        src="https://github.com/coltcallaghan/MFA/blob/main/MFA%20in%20terminal.PNG?raw=true" />
                </div>
            </div>
            
            <div class="row">
                <div class="column">
                    <hr class="hr">
                </div>
            </div>

            <div class="row portitem">
                
                <div class="six wide column">
                    <img class="ui large bordered rounded image"
                        src="https://t4.ftcdn.net/jpg/02/48/96/11/360_F_248961156_XeSISXFo6bcFUw830wpE2zPLxWGCl1u9.jpg" />
                </div>
                <div class="right floated eight wide column">
                    <h3 class="ui header">Hangman</h3>
                    <p>
                        As part of the Python module in the JCS I was tasked with making a Hangman game, which allowed
                        users to make 7 incorrect guesses before they lost the game.

                    </p>
                    <a target="_blank" href="https://github.com/coltcallaghan/colt-hangman"><i
                            class="svg-icon github portgit"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <hr class="hr">
                </div>
            </div>

            <div class="row portitem">
                <div class="eight wide column">
                    <h3 class="ui header">ASCII Image Generator</h3>
                    <p>
                        To give myself a refresher on Pyhon after a few months without touching it I decided code a
                        simple app using the Pillow.Image library (PIL.Image)
                    </p>
                    <a target="_blank" href="https://github.com/coltcallaghan/ASCII-Image-Generator"><i
                            class="svg-icon github portgit"></i></a>

                </div>
                <div class="right floated six wide column">
                    <img class="ui large bordered rounded image"
                        src="http://i.imgur.com/WLOLjoK.png" />
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <hr class="hr">
                </div>
            </div>

            <div class="row portitem">
                
                <div class="six wide column">
                    <img class="ui large bordered rounded image"
                        src="https://ichef.bbci.co.uk/images/ic/1200x675/p07jbsw9.jpg" />
                </div>
                <div class="right floated eight wide column">
                    <h3 class="ui header">BBC Scraper</h3>
                    <p>
                        Here I wrote code which allowed me to scrape any given BBC news article, to give the Title, Date
                        Published, Content as well as find any People or Places in the article. I used the same principles as I did in this 
                        when I collaborated with a friend to scrape Facebook groups for different Spotify links, enabling us to create playlists for each group.
                    </p>
                    <a target="_blank" href="https://github.com/coltcallaghan/BBC-Scraper"><i
                            class="svg-icon github portgit"></i></a>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <hr class="hr">
                </div>
            </div>

            <div class="row portitem">
                <div class="eight wide column">
                    <h3 class="ui header">Cancer Recurrence algorithm</h3>
                    <p>
                        Using a machine learning classification model, I was able to predict the recurrence rates of
                        cancer in patients to a high level of accuracy. By training
                        on 80% of the given data set I was able to test on the remaining 20%. As there was some missing
                        data, I tried 2 methods to mitigate this. Firstly, I changed
                        the missing data to the mode and then I tried removing any datasets which were incomplete.
                    </p>
                    <a target="_blank" href="https://github.com/coltcallaghan/Cancer-Recurrance-DS"><i
                            class="svg-icon github portgit"></i></a>
                </div>
                <div class="right floated six wide column">
                    <img class="ui large bordered rounded image"
                        src="https://loopnewslive.blob.core.windows.net/liveimage/sites/default/files/2020-03/sXcosghyvg.jpg" />
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <hr class="hr">
                </div>
            </div>

            <div class="row portitem">
                <div class="six wide column">
                    <img class="ui large bordered rounded image"
                        src="https://assets.codepen.io/388547/internal/screenshots/pens/GQrQyj.default.png?fit=cover&format=auto&ha=false&height=540&quality=75&v=2&version=1518124424&width=960" />
                </div>
                <div class="right floated eight wide column">
                    <h3 class="ui header">RGB Guessing Game</h3>
                    <p>
                        As a challenge during my Web Development module of the JCS we were tasked with making a simple
                        guessing game to show our knowledge of JavaScript. This was my first real attempt at making something completely on my own.
                    </p>
                    <a target="_blank" href="https://github.com/coltcallaghan/RBG-Guessing-Game"><i
                            class="svg-icon github portgit"></i></a>
                </div>
            </div>

        </div>
    </div>


    <%- include("partials/footer") %>